{% extends "base.html" %}
{% block head %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="" id="HScss"/>
	<script>
	if(screen.availWidth > 800)
	{
		document.getElementById("HScss").href="/static/css/helpSeekerStyles.css";
	}
	else
	{
		document.getElementById("HScss").href="/static/css/helpSeekerStylesMobile.css";
	}
	</script>
	<script src="/static/js/helpSeeker.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/css/messiPopUp.css" />
	<script src="/static/js/messiPopUp.js" type="text/javascript"></script>
{%endblock%}

{% block content %}
	<h1 id="headline">חפש עזרה</h1>
	<div id="cityDiv">
		<select id="city" dir="rtl">
			<option value="100">כל האזורים</option>
			<option value="1" style="font-weight: bold; color: red">צפון</option>
			<option value="2" style="font-weight: bold; color: black">חיפה והסביבה</option>
			<option value="3" style="font-weight: bold; color: black">קריות והסביבה</option>
			<option value="4" style="font-weight: bold; color: black">עכו - נהריה והסביבה</option>
			<option value="5" style="font-weight: bold; color: black">גליל עליון</option>
			<option value="6" style="font-weight: bold; color: black">הכנרת והסביבה</option>
			<option value="7" style="font-weight: bold; color: black">כרמיאל והסביבה</option>
			<option value="8" style="font-weight: bold; color: black">נצרת - שפרעם והסביבה</option>
			<option value="9" style="font-weight: bold; color: black">ראש פינה החולה</option>
			<option value="10" style="font-weight: bold; color: black">גליל תחתון</option>
			<option value="11" style="font-weight: bold; color: black">הגולן</option>
			<option value="12" style="font-weight: bold; color: red">חדרה זכרון ועמקים</option>
			<option value="13" style="font-weight: bold; color: black">זכרון וחוף הכרמל</option>
			<option value="14" style="font-weight: bold; color: black">חדרה והסביבה</option>
			<option value="15" style="font-weight: bold; color: black">קיסריה והסביבה</option>
			<option value="16" style="font-weight: bold; color: black">יקנעם טבעון והסביבה</option>
			<option value="17" style="font-weight: bold; color: black">עמק בית שאן</option>
			<option value="18" style="font-weight: bold; color: black">עפולה והעמקים</option>
			<option value="19" style="font-weight: bold; color: black">רמת מנשה</option>
			<option value="20" style="font-weight: bold; color: red">השרון</option>
			<option value="21" style="font-weight: bold; color: black">נתניה והסביבה</option>
			<option value="22" style="font-weight: bold; color: black">רמת השרון - הרצליה</option>
			<option value="23" style="font-weight: bold; color: black">רעננה - כפר סבא</option>
			<option value="24" style="font-weight: bold; color: black">הוד השרון והסביבה</option>
			<option value="25" style="font-weight: bold; color: black">דרום השרון</option>
			<option value="26" style="font-weight: bold; color: black">צפון השרון</option>
			<option value="27" style="font-weight: bold; color: red">מרכז</option>
			<option value="28" style="font-weight: bold; color: black">תל אביב</option>
			<option value="29" style="font-weight: bold; color: black">ראשון לציון והסביבה</option>
			<option value="30" style="font-weight: bold; color: black">חולון - בת ים</option>
			<option value="31" style="font-weight: bold; color: black">רמת גן - גבעתיים</option>
			<option value="32" style="font-weight: bold; color: black">פתח תקווה והסביבה</option>
			<option value="33" style="font-weight: bold; color: black">ראש העין והסביבה</option>
			<option value="34" style="font-weight: bold; color: black">בקעת אונו</option>
			<option value="35" style="font-weight: bold; color: black">רמלה - לוד</option>
			<option value="36" style="font-weight: bold; color: black">בני ברק - גבעת שמואל</option>
			<option value="37" style="font-weight: bold; color: black">עמק  איילון</option>
			<option value="38" style="font-weight: bold; color: black">שוהם והסביבה</option>
			<option value="39" style="font-weight: bold; color: black">מודיעין והסביבה</option>
			<option value="40" style="font-weight: bold; color: red">אזור ירושלים</option>
			<option value="41" style="font-weight: bold; color: black">ירושלים</option>
			<option value="42" style="font-weight: bold; color: black">בית שמש והסביבה</option>
			<option value="43" style="font-weight: bold; color: black">הרי יהודה - מבשרת והסביבה</option>
			<option value="44" style="font-weight: bold; color: black">מעלה אדומים והסביבה</option>
			<option value="45" style="font-weight: bold; color: red">יהודה שומרון ובקעת הירדן</option>
			<option value="46" style="font-weight: bold; color: black">ישובי דרום ההר</option>
			<option value="47" style="font-weight: bold; color: black">ישובי שומרון</option>
			<option value="48" style="font-weight: bold; color: black">גוש עציון</option>
			<option value="49" style="font-weight: bold; color: black">בקעת הירדן וצפון ים המלח</option>
			<option value="50" style="font-weight: bold; color: black">אריאל וישובי יהודה</option>
			<option value="51" style="font-weight: bold; color: red">שפלה מישור חוף דרומי</option>
			<option value="52" style="font-weight: bold; color: black">נס ציונה - רחובות</option>
			<option value="53" style="font-weight: bold; color: black">אשדוד - אשקלון והסביבה</option>
			<option value="54" style="font-weight: bold; color: black">גדרה - יבנה והסביבה</option>
			<option value="55" style="font-weight: bold; color: black">קרית גת והסביבה</option>
			<option value="56" style="font-weight: bold; color: black">שפלה</option>
			<option value="57" style="font-weight: bold; color: red">דרום</option>
			<option value="58" style="font-weight: bold; color: black">באר שבע והסביבה</option>
			<option value="59" style="font-weight: bold; color: black">אילת וערבה</option>
			<option value="60" style="font-weight: bold; color: black">ישובי הנגב</option>
			<option value="61" style="font-weight: bold; color: black">הנגב המערבי</option>
			<option value="62" style="font-weight: bold; color: black">דרום ים המלח</option>
		</select>
			<b>:עיר</b>
		<br>
	</div>
	<div id="cityDiv">
		<b>האם דרוש רכב:</b>
		<input type="radio" name="car" id="carReq">כן</input>
		<input type="radio" name="car" id="carNotReq" checked>לא</input>
	</div>
	<table dir="rtl" style="width:100%;">
		<tr>
			<td valign="top" style="width:20%;">
				<h3 style="text-align:right; font-family:Arial;">תאור העזרה:</h3>
			</td>
			<td rowspan="3" style="text-align:right">
				<textarea id="description" rows="5" dir="rtl" ></textarea>
			</td>
	</table>
	<table dir="rtl" style="width:100%">
		<tr>
			<td style="width: 20%;">
				<h3 style="text-align:right; font-family:Arial;">טלפון ליצירת קשר:</h3>
			</td>		
			<td rowspan="3" style="text-align:right">
				<input id="phone" style="text-align:right; resize:none; font-size:20px"
							onkeypress='return event.charCode >= 48 && event.charCode <= 57'
							size="10" maxlength="10">
				</input>
			</td>
		</tr>
	</table>
		
	<div id="button" style="text-align:center;">
		<a id="search" class="button">חפש/י עזרה</a>
		
	</div>
	<h3 id="headline" dir="rtl" style="font-size: 16px; color: red">*הבקשה תמחק לאחר 24 שעות, אם לא יצרו איתך קשר - ניתן לרשום את הבקשה מחדש.*</h3>
{%endblock%}
