{% extends "base.html" %}
{% block head %}
	{{block.super}}
	<link rel="stylesheet" type="text/css"  href="/static/css/helpSeekerStyles.css" >
{%endblock%}

{% block content %}
	<h1 id="headline">חפש עזרה</h1>
	<table style="width:100%">
		<tr>
			<td rowspan="3" style="text-align:right">
				<textarea rows="10" cols="50" style="text-align:right; resize: none; font-size:20px"></textarea>
			</td>
			<td style="width: 20%;">
				<h3 style="text-align:right; font-family:Arial">:תאור העזרה</h3>
			</td>		
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td rowspan="3" style="text-align:right">
				<input style="text-align:right; resize:none; font-size:20px" size="2" maxlength="3"></input>
				-
				<input style="text-align:right; resize:none; font-size:20px" size="8" maxlength="7"></input>
			</td>
			<td style="width: 20%;">
				<h3 style="text-align:right; font-family:Arial;">:הכנס מספר טלפון</h3>
			</td>		
		</tr>
	</table>
	
	<div id="button" style="text-align:center;">
	<a href="#" class="button">חפש/י עזרה</a>
	</div>
{%endblock%}
