<!DOCTYPE HTML>
<html>
<head>
<title>HelpAPP</title>
<link rel="stylesheet" type="text/css"  href="/static/css/helpSeekerStyles.css" >
<script src="/static/js/index.js"></script>
</head>
<body>
	<div id="header">
		<img id="headerPic" class="stretch" alt="header"></div>
	</div>
	<div id="wrapper">
		<h1 id="headline">חפש עזרה</h1>
		<table style="width:100%">
			<tr>
				<td rowspan="3" style="text-align:right">
					<textarea rows="10" cols="50" style="text-align:right; resize: none; font-size:20px"></textarea>
				</td>
				<td style="width: 15%;">
					<h3 style="text-align:right; font-family:Arial">:תאור העזרה</h3>
				</td>		
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		<table style="width:100%">
			<tr>
				<td rowspan="3" style="text-align:right">
					<input style="text-align:right; resize:none; font-size:20px" size="1" maxlength="3"></input>
					-
					<input style="text-align:right; resize:none; font-size:20px" size="7" maxlength="7"></input>
				</td>
				<td style="width: 15%;">
					<h3 style="text-align:right; font-family:Arial;">:הכנס מספר טלפון</h3>
				</td>		
			</tr>
		</table>
		
		<div id="button" style="text-align:center;">
			<a href="#" class="button">חפש/י עזרה</a>
		</div>
	</div>
	<div id="footer">
		<img id="footerPic" class="stretch" alt="footer">
		<p id="text">Copyright © 2015 HelpAPP LTD. All rights reserved.</p></div>
	</div>
</body>
</html>