<!DOCTYPE HTML>
<html>
<head>
<title>HelpAPP</title>
<link rel="stylesheet" type="text/css"  href="/static/css/indexStyles.css" >
<script src="/static/js/index.js"></script>
</head>
<body>
	<div id="header">
		<img id="headerPic" class="stretch" alt="header"></div>
	</div>
	<div id="wrapper">	
		<div id="helpSeeker">
		<a href="helpSeeker" class="button">מסתייע</a>
		</div>
		<div id="volunteer">
		<a href="volunteer" class="button">מתנדב</a>
		</div>	
    </div>
	
	<div id="footer">
		<img id="footerPic" class="stretch" alt="footer">
		<p id="text">Copyright © 2015 HelpAPP LTD. All rights reserved.</p></div>
	</div>
</body>
</html>